{% extends "servicios/layout.html" %}

{% block body %}
{% load static %}

<div class="slides">
	<!-- Slide pages -->
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
    	{% for ban in banner %}
        <div class="carousel-item {% if forloop.first %}
      								active
    							  {% endif %}">
            <img class="d-block w-100" src="{{ban.principal.url}}" alt="Impermeabilización de edificios">
            <div class="carousel-caption d-md-block">
                <h5>{{ ban.referencia.servicio }}</h5>
                <p>{{ ban.descripcion }}</p>
            </div>
        </div>
        {% endfor %}

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
        	<span class="sr-only">Siguiente</span>
    	</a>
    	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        	<span class="carousel-control-next-icon" aria-hidden="true"></span>
        	<span class="sr-only">Anterior</span>
   		</a>
    </div>
</div>
</div>


 <div class="container marketing">
 	<div class="titleContainer">
 		<h3 class="ourJobs">Nuestros servicios.</h3>
 	</div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
        {% for servi in servicio %}
          <div class="col-lg-4">
            <a href="{% url 'sev:servicio' servi.servicio %}"><img class="rounded-circle" src="{{servi.imgprincipal.url}}" alt="Generic placeholder image" width="140" height="140"></a>
            <div class="text">
            <h3>{{ servi.servicio }}</h3>
            <p>{{ servi.descripcion }}</p>
            <p><a class="btn btn-secondary" href="{% url 'sev:servicio' servi.servicio %}" role="button">Ver detalles &raquo;</a></p>
            </div>
          </div><!-- /.col-lg-4 -->
          {% endfor %}
          
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Recursos humanos de la empresa.</h2>
            <p class="lead">Tenemos al servicio gente de primera calidad en todos los sectores. Contamos con ingenieros electronicos, civiles, licenciados en seguridad e higiene y muchos mas.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver lista completa &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTCRxPbYQqh1mv4HxbqSjPy_ZYVp8ouIk61dw&usqp=CAU" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

       <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
        	<div class="col-md-4">
            <img class="featurette-image img-fluid mx-auto" src="https://i2.wp.com/bdmingenieria.com/wp-content/uploads/2020/02/instalaciones-9.jpg?fit=1920%2C1080&ssl=1" alt="Generic placeholder image">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Generamos confianza</h2>
            <p class="lead">Contamos con la plena confianza de varios empresas que trabajaron y trabajan con nosotros como YPF, (otro) y (otro).</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver lista completa &raquo;</a></p>
          </div>
          
        </div>

        <hr class="featurette-divider">
       </div>
   </div>


{% endblock %}